/* Formulas - Fully Responsive */

#Formulas {
  padding: 0.5vmin;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 50px;
}

#Formulas > div > table {
  display: inline-table;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed;
}

/* Innere Tabellen (Bruch-Tabellen) - erlaubt eigene Breite */
#Formulas table table {
  display: inline-table;
  width: auto !important;
  min-width: auto !important;
  max-width: none !important;
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: white;
  table-layout: auto;
}

#Formulas tbody {
  margin: 0 !important;
  padding: 0 !important;
}


#Formulas tr {
  vertical-align: middle;
  padding-top: 0.3vmin;
  padding-bottom: 0.3vmin;
  border-collapse: collapse;
  font-size: 2vmin;
  height: 1.4em;
}

#Formulas th {
  vertical-align: middle;
  padding-top: 0.3vmin;
  padding-bottom: 0.3vmin;
  text-align: center;
  border-collapse: collapse;
  font-size: 2vmin !important;
  color: var(--fontLight);
}

#Formulas td {
  text-align: left;
  vertical-align: middle;
  padding: 0.2vmin 0.3vmin;
  border-collapse: collapse;
  font-size: 2vmin !important;
  color: var(--fontDark);
}

#Formulas textarea {
  border: none;
  width: 100%;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: 2vmin;
  vertical-align: middle;
  text-align: center;
  color: var(--fontDark);
  overflow: hidden;
  font-family: 'Roboto-Light', sans-serif !important;
  margin-bottom: 2px;
}

/* Override inline vw padding to vmin */
#Formulas > div[style*="padding: 1vw"] {
  padding: 0.8vmin !important;
}

/* Scrollbar hidden */
#Formulas::-webkit-scrollbar {
  display: none;
}

#Formulas * {
  scrollbar-width: none;
}
