/* Notepad */
#Notepad {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  max-height: 100%;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

#Notepad #note {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  touch-action: none;
  overflow: hidden !important;
  box-sizing: border-box;
}

#Notepad #note .notepad-surface-svg {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
}

#Notepad #toolbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark);
  align-items: center;
  align-content: center;
  padding: 0.75vh 0;
  border: 1px solid black;
  flex: 0 0 auto;
  box-sizing: border-box;
}

#brush_controls{
  font-size: 3vmin;
  font-weight: 500;
  padding: 0.5vmin 0;
  width: 33.3%;
}

#range {
  position: relative;
  float: left;
  font-size: auto;
  font-weight: 500;
  color: var(--fontLight);
  white-space: nowrap;
  vertical-align: middle;
}

#myRange {
  margin: 0;
  background-color: var(--dark);
  width: 70%;
}

#range input{
  width: 20vmin;
  background-color: var(--dark);
}

#color_controls{
  height: 5vh;
  padding: 0.5vh 0;
}

#reset_controls{
  height: 5vh;
  padding: 0.5vh 0;
  float: left;
}

#colorA, #colorB, #colorC, #colorD {
	float: left;
	font-size: 3vmin;
	font-weight: 500;
	color: transparent;
	text-align: center;
	cursor: pointer;
  height: 100%;
  width: 5vmin;
  outline: none;
  margin: 0 0.5vmin;
}

#colorA:hover, #colorB:hover, #colorC:hover, #colorD:hover {
  border: 1px solid white;
}

.border{
  border: 1px solid white;
}

.noborder{
  border: none;
}

#colorA {
	background-color: var(--light);
}

#colorB{
	background-color: black;
}
#colorC{
	background-color: red;
}
#colorD{
	background-color: var(--light);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 3.5px, rgba(255,255,255,.5) 3.5px, rgba(255,255,255,.5) 7px);
}

#colorE{
	background-color: var(--dark);
	float: left;
	font-size: 3vmin;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
  height: 100%;
  width: 0.5vmin;
	margin-right: 1.5vmin;
  outline: none;
  border: none;
}

#reset {
	float: right;
	font-size: 2vmin;
	font-weight: 500;
	background-color: var(--light);
	color: var(--fontLight);
	text-align: center;
	cursor: pointer;
  height: 100%;
  width: 10vmin;
  outline: none;
  border: 1px solid white;
}

#reset:hover{
  font-size: 2.5vmin;
}
